$color: #2ecc71;

text {
  background-color: $color;
  :hover {
    background-color: darken($color, 20%);
  }
}

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "normalize";
@import "base";



